<!-- Modal -->
<div class="modal fade" id="paymentModal" ng-controller="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="paymentModalTitle">Info de pago<span id="msgTableName"></span></h4>
      </div>
      <div class="modal-body">
          <form class="form-inline">
            <div class="input-group">
              <div class="input-group-addon">$</div><input type="number" min="0" placeholder="Valor" class="form-control" required  name="value" ng-model="checkValue" />
            </div>

            <div class="input-group">
              <div class="input-group-addon">$</div><input type="number" min="0" placeholder="Servicio" class="form-control" required  name="service" ng-model="serviceValue" />
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" ng-click="sendCheck()" class="btn btn-primary">Envíar</button>
      </div>
    </div>
  </div>
</div>



<!-- MOdal customer call -->
<div class="modal fade" id="customerCall"  tabindex="-1" role="dialog" aria-labelledby="customerCall">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="paymentModalTitle">Te han llamado<span id="msgTableName"></span></h4>
      </div>
      <div class="modal-body">
          <p id="customerMessage" ></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<blockquote>
  Waiter Dashboard
</blockquote>

<div>
  <a href="/waiter/logout">logout</a>
  <p>Restaurant id : <%= restaurant_id %> </p>
</div>

<!-- Pending services -->
<p>Servicios pendiente</p>
<div id="incomingServices" ng-controller="incomingServices">
    <ul>
        <li ng-repeat="incomingService in incomingServices ">Nuevo cliente en {{ incomingService.table.name }}
          <button ng-click="takeService($index)" class="btn btn-success">atender</button>
          <button ng-click="ignoreCustomer($index)" class="btn" >ignorar</button>
        </li>
    </ul>
</div>

<!-- Current services -->
<div ng-controller="waiterServices"  >
<p>Servicios Actuales:</p>
<table id="waiterServices"  class="table">
  <thead>
    <tr>
      <th>Mesa</th>
      <th>Cliente</th>
      <th>Esperando por</th>
      <th>Acciones</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr  ng-repeat="waiterCustomer in waiterCustomers" >
      <td>{{ waiterCustomer.table_name }}</td>
      <td>{{ waiterCustomer.user_title + ' ' + waiterCustomer.user_name  }}</td>
      <td>{{ waiterCustomer.service_status }}</td>
      <td>
        <span ng-if="waiterCustomer.service_status_action != ''" >
          <button ng-click="doServiceAction( waiterCustomer.service_id, waiterCustomer.service_status_id  )" class="btn btn-info" >{{ waiterCustomer.service_status_action }}</button>
        </span>

        <a class="danger" title="terminar servicio" ng-click="endService($index)" href="">x</a>
      </td>
    </tr>
  </tbody>
</table>





</div>


<input type="hidden" id="restaurantId" value="<%= restaurant_id %>" >
<input type="hidden" id="iAmWaiter" value="true" >
<input type="hidden" id="waiterId" value="<%= req.session.Waiter.id %>" >