<link rel="stylesheet" href="/view_only_styles/signin.css">
<div class="container">

	<% if(flash && flash.err) { %>
        <ul class="alert alert-danger">
    <% Object.keys(flash.err).forEach(function(error) { %>
        <li><%= flash.err[error].message %></li>
    <% }) %>
    </ul>
    <% } %>

	<form class="form-signin" role="form" id="loginForm" action="/waiter/logon" method="POST" >
		<h2 class="form-signin-heading">Iniciar sesión</h2>
		<input type="text" class="form-control" placeholder="Nombre de usuario"  name="username"  autofocus>
		<input type="password" class="form-control" placeholder="Contraseña" name="password" >
		<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>

</div>