<!-- Table scanned view -->

<!-- Wait modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false"  id="customerScanModal" tabindex="-1" role="dialog" aria-labelledby="newCustomerModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="newCustomerModalTitle">Espera un mesero esta por atenderte</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>

<p>Test customer index</p>
<p>Your customer has arrived to restaurant:  <%= restaurantId %> </p>

<p>Bienvenido tu mesero sera: <span id="msgWaiterName" ></span> </p>

    <% if(flash && flash.err) { %>
        <ul class="alert alert-danger">
    <% Object.keys(flash.err).forEach(function(error) { %>
        <li><%= flash.err[error].message %></li>
    <% }) %>
    </ul>
    <% } %>





<form action="/user/begin-interaction" method="POST" class="form-signin" >

    <p>De vuelta con nosotros...</p>
    <input type="text" class="form-control" placeholder="Email" name="email" />

    <p>De lo contrario...</p>
    <select class="form-control" name="title" >
        <% Object.keys(userTitles).forEach(function(data) { %>
        <option value="<%= userTitles[data].id %>"><%= userTitles[data].title %></option>
        <% }) %>
    </select>

    <input type="text" class="form-control" placeholder="name" name="name" />
    <input type="submit" class="btn btn-lg btn-primary btn-blovk" value="Create" />
    <input type="hidden" name="restaurantId" value="<%= restaurantId %>" >
    <input type="hidden" id="tableId" name="tableId" value="<%= tableId %>" >
    <input type="hidden" id="waiterId" name="waiterId" value="" >
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>


<input type="hidden" id="subscribeToTableRoom" value="true"  >
<input type="hidden" id="customerRestaurantRoom" value="<%= restaurantRoom %>"  >
<input type="hidden" id="iAmCustomer" value="1" >