<p>Esperamos que tu visita haya sido placentera ...</p>

    <% if(flash && flash.err) { %>
        <ul class="alert alert-danger">
    <% Object.keys(flash.err).forEach(function(error) { %>
        <li><%= flash.err[error].message %></li>
    <% }) %>
    </ul>
    <% } %>

<form action="/user/updateregister" method="POST" class="form-signin" >
    <input type="text" name="email" placeholder="email" >
    <p>Subscribirse</p><input type="checkbox" name="subscribed" value="1" >
    <button class="btn btn-success" type="submit">Envíar</button>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

<a href="/comebacksoon" class="btn">No gracias</a>