<blockquote>
    Ready to order customer view
</blockquote>
<div ng-controller="payOrOrder" >

    <button ng-disabled="actionDone" class="btn btn-success" ng-click="orderNow()" >Ordenar</button>
    <button ng-disabled="actionDone" class="btn btn-info" ng-click="payNow()" >pagar</button>

    <input type="hidden" id="waiterRoom" value="<%= req.session.Customer.WaiterRoom %>" >
    <input type="hidden" id="tableId" value="<%= req.session.Customer.tableId %>" >
    <input type="hidden" id="iAmCustomer" value="true" >
    <input type="hidden" id="serviceId" value="<%= req.session.Customer.serviceId %>"  >

</div>