<div ng-controller="paymentMethod" ng-init="serviceValue = <%= service_data.serviceValue %>" >
<!-- Modal Pay Data -->
<div class="modal fade" id="payData"  tabindex="-1" role="dialog" aria-labelledby="payData">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="paymentModalTitle">Pay Data<span id="msgTableName"></span></h4>
      </div>
      <div class="modal-body">
          <p>Servicio Voluntario</p>
          <input ng-model="serviceValue" type="number" min="0" class="form-control"  >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="sendPaymentInfo()" data-dismiss="modal">Envíar</button>
      </div>
    </div>
  </div>
</div>

<blockquote>
    Payment Method View
</blockquote>


    <p>El valor de tu orden incluido servicio es:</p>

    <h2>$<%= format_full_value %></h2>

    <p>como pagar</p>
    <button type="button" class="btn btn-info" ng-click="setPaymentMethod('cash')" >Efectivo</button>
    <button type="button" class="btn btn-info" ng-click="setPaymentMethod('dataphone')" >T. Debito / Credito</button>

    <p>Algo no esta bien <a ng-click="callWaiter()" href="#">llama a tu mesero</a></p>

    <button type="button" ng-click="orderNow()" class="btn btn-success" >Otra orden</button>

    <input type="hidden" id="waiterRoom" value="<%= req.session.Customer.WaiterRoom %>" >
    <input type="hidden" id="tableId" value="<%= req.session.Customer.tableId %>" >
    <input type="hidden" id="iAmCustomer" value="true" >
    <input type="hidden" id="serviceId" value="<%= req.session.Customer.serviceId %>"  >

</div>