<blockquote>
    Ready to order customer view
</blockquote>
<div ng-controller="readyToOrder" >

    <button ng-disabled="orderDone" class="btn btn-success" ng-click="orderNow()" >Estoy listo para ordenar</button>

    <input type="hidden" id="waiterRoom" value="<%= req.session.Customer.WaiterRoom %>" >
    <input type="hidden" id="tableId" value="<%= req.session.Customer.tableId %>" >
    <input type="hidden" id="iAmCustomer" value="true" >
    <input type="hidden" id="serviceId" value="<%= req.session.Customer.serviceId %>"  >

</div>