<blockquote>
    wating view
</blockquote>
<div >


    <p class="bg-primary"><%= waiter_service.service_status_message %></p>

    <input type="hidden" id="waiterRoom" value="<%= req.session.Customer.WaiterRoom %>" >
    <input type="hidden" id="tableId" value="<%= req.session.Customer.tableId %>" >
    <input type="hidden" id="iAmCustomer" value="true" >

</div>